{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/utils.html" as utils %}

{%- extends "base.html" %}


{% block content %}
   <div class="container">
   <div class="col-md-12">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    
    {% if data %}
<pre>
{{ data }}
</pre>
    {% endif %}

    {% if form %}

    <section class="form-elegant">
    <form method="POST" action="{{ url_for('frontend.add_entry') }}">
        {{ form.csrf_token }}

        <p class="h4 text-center mb-4">Enter your secret you want to share</p>
        <br><br>
        <textarea type="text" id="defaultFormContactMessageEx" class="form-control" rows="6" name="secrets"></textarea>
        <br><br>
        <div class="text-center mb-3">
            <button type="submit" class="btn blue-gradient btn-block btn-rounded z-depth-1a">Save my secret</button>
        </div>
    </form>   
    </section>
    {% endif %}
  </div>
{%- endblock %}
